html
  head
    meta(charset='utf-8')
    title loopback-tdd-sample
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/styles/main.css')

  body

    div.container#app
    script(src='/scripts/bundle.js')
    script(src='/scripts/lbclient.js')
    script(src='/scripts/app.js')
